
<div class="flickr_pagination mt-4 mb-4">
  <%= will_paginate @movies, :container => false %>
</div>

<div class="container">
    <%= render @movies%>
</div>

<div class="flickr_pagination mt-4 mb-4">
  <%= will_paginate @movies, :container => false %>
</div>